{<<"app">>,<<"ecto3_mnesia">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"Mnesia adapter for Ecto 3">>}.
{<<"elixir">>,<<"~> 1.9">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/mix">>,<<"lib/mix/tasks">>,
  <<"lib/mix/tasks/ecto3_mnesia.ex">>,<<"lib/ecto">>,<<"lib/ecto/tuple.ex">>,
  <<"lib/ecto/adapters">>,<<"lib/ecto/adapters/mnesia.ex">>,
  <<"lib/ecto/adapters/mnesia">>,<<"lib/ecto/adapters/mnesia/connection.ex">>,
  <<"lib/ecto/adapters/mnesia/qlc.ex">>,
  <<"lib/ecto/adapters/mnesia/record.ex">>,
  <<"lib/ecto/adapters/mnesia/table.ex">>,
  <<"lib/ecto/adapters/mnesia/query.ex">>,<<"priv">>,
  <<"priv/example_mnesia_migrations">>,
  <<"priv/example_mnesia_migrations/create_binary_id_table.exs">>,
  <<"priv/migration_template.exs">>,<<".formatter.exs">>,<<"mix.exs">>,
  <<"README.md">>,<<"README.md.orig">>,<<"LICENSE.md">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Gitlab">>,<<"https://gitlab.com/patatoid/ecto3_mnesia">>}]}.
{<<"name">>,<<"ecto3_mnesia">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"ecto">>},
   {<<"name">>,<<"ecto">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 3.0">>}],
  [{<<"app">>,<<"qlc">>},
   {<<"name">>,<<"qlc">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.0">>}]]}.
{<<"version">>,<<"0.2.2">>}.
